.products {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    svg {
      color: black;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 190px);
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 642px) {
      justify-content: center;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style: none;

  li a {
    cursor: pointer;
  }

  &__active {
    color: #0d6efd;
    a {
      cursor: default !important;
    }
  }
}